@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v7/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(https://fonts.gstatic.com/s/electrolize/v6/cIf5Ma1dtE0zSiGSiED7AXEBuI8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v4/7cHmv4okm5zmbtYoK-4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: local('Exo 2 Thin'), local('Exo2-Thin'), url(https://fonts.gstatic.com/s/exo2/v4/7cHov4okm5zmbt5LG-wc5Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html, body {
  margin: 0;
  padding: 0;
}


/* ******* MLG homepage ******** */

.logo  {
  border-radius: 5px;
  position: absolute;
  top: -70px;
  left: 20px;

}

.logo img {
  border-radius: 10px;
}

.series {
  display: flex;
  flex: row wrap;

}


.series-container {
  height: 100%;
  border-left: 2px solid #ff6a00;
}

.series-container h1 {
  width: 100%;
  height: 170px;
  margin: 0;
  padding: 3rem 1.6rem;
  text-align: left;
  font-family: 'Electrolize', sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  color: black;
  background: url('/images/broken-bg_edited.jpg');
  background-size: cover;
}

.mlg-info {
  width: 400px;
  padding: 1.4rem;
  margin: 100px 0 0 0;
  font-family: "Electrolize", sans-serif;
  font-size: 1.6rem;
}

.mlg-container {
  position: relative;

}

.sub-button-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.4rem;
}

.episodes-container {
  padding: 0 1.6rem;
  margin-top: 1.6rem;
}

.sidebar-resources {
  margin-left: 1.4rem;
}

.episodes {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  background: #D5D5D5;
  box-shadow: 2px 2px 2px #222;
  -webhit-box-shadow: 2px 2px 2px #222;
  -moz-box-shadow: 2px 2px 2px #222;
}
.episodes-content {
  padding: 1.6rem;
  font-family: "Electrolize", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}

.episodes-content i {
  font-weight: 700;
}

/******** Single Episode Pages ********* */

.content-container {
}


.button {
  width: 150px;
  margin: 1.4rem;
}

.button a {
  width: 100%;
}

.episode-container {
  margin-left: 1.4rem;
  display: flex;
  flex: row wrap;
}

.player {
  margin: 1.4rem;
  padding-top: 3.6rem;
}



/******** MLG ***********/
.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
  border-left: 2px solid #ff6a00;
  font-family: "Electrolize", sans-serif;

}

/******** buttons ***********/
/* .button {
  background-color: #4885ed;
  color: white;
  padding: 1.4rem;
  display: inline-block;
  border: none;
  font-weight: 300;
  font-size: 1.8rem;
  text-decoration: none;
  line-height: 1;
} */

/* .button-link {
  background-color: Transparent;
  color: white;
  font-size: $font-size-header-xl;
  font-family: $exo;
  border: none;
  position: relative;
  padding: $s-size;

  &::after {
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    background-color: white;
    bottom: 0px;
    left: 0px;
    transition: width .7s .1s cubic-bezier(0,.56,1,1.57);

  }
  &:hover::after {
    width: 100%;
  }
} */



.button-secondary {
  background-color: #888
}


/******** dashboard ***********/

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background: #0c1720;
  margin: 0;
  padding: 0;
  border-left: 2px solid #ff6a00;
}

.side-item__1 {
width: 50%;
height: 100%;

}
.side-item__2 {
  width:50%;
  opacity: 0;
  animation: reveal 2s linear 2s 1 forwards;
}

/* //Responsive */

@media screen and (max-width: 1024px) {
  .page-container {
    display: flex;
    flex-direction: column;

  }
  .side-item__1 {
    width: 100%;

  }
  .side-item__2 {
    width: 100%;

  }
}

/* //animations */

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bandf {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes border {
  0% {
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
  }
  25% {
    border-top: 2px solid #ff6a00;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
  }
  50% {
    border-top: 2px solid #ff6a00;
    border-left: 2px solid #ff6a00;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
  }
  75% {
    border-top: 2px solid #ff6a00;
    border-left: 2px solid #ff6a00;
    border-bottom: 2px solid #ff6a00;
    border-right: none;
    border-radius: 5px;
  }
  100% {
    border-top: 2px solid #ff6a00;
    border-left: 2px solid #ff6a00;
    border-bottom: 2px solid #ff6a00;
    border-right: 2px solid #ff6a00;
    border-radius: 5px;
  }
}

/******** episode ***********/
/* .page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.episode-container {
  color: white;
} */


/******** header ***********/
.header {
  background: #0c1720;
  border-left: 2px solid #ff6a00;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  font-family: 'Electrolize', sans-serif;
}

.menu {
  display: none;
}

.link {
  text-decoration: none;
  color: red;
}

.header__title img {
  width: 80px;
  height: 80px;
}

  @media screen and (max-width: 480px) {
    .header {
        justify-content: flex-start;
    }

    .header__title {
      display: none;
    }
    .link {
      display: none;
      text-decoration: none;
    }
    .menu  {
      display: block;
      float: right;
    }
  }


@media screen and (max-width: 480px) {
  .header.responsive {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header__title {
    display: inline;
  }
  .link {
    display: inline;
  }

}


.header__title {
  color: white;
  font-family: 'Electrolize', sans-serif;
  text-decoration: none;

}
.header__title   h1 {
    margin: 0;
  }

.link {
  text-decoration: none;
  color: white;

}

/******** projects ***********/
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.6rem;


}

.highlight-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding :1.6rem;
  margin: 1.6rem 0;
}

.highlight-header  h1 {
    text-align: center;
    margin: 1.6rem;
    color: #ff6a00;
    flex-grow: 2;
  }

.highlight-header   i {
    cursor: pointer;
    color: #ff6a00;
    animation: bandf 1s ease-in-out 1s infinite alternate;
  }


/************* Collapsible styling ******************/


.Collapsible {
  background: #0c1720;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 2.4rem;
  width: 500px;
  padding: 15px 10px;
  cursor: pointer;
}

.Collapsible__contentInner {
  border: 2px solid #ff6a00;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  font-family: "Exo 2", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 7px;
}

.Collapsible__contentInner  img {
  padding: 5px;
}

.project {
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #0c1720;



}


.blurb {
  width: 100%;
}
/******** title ***********/

.stacked-headers {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  height: 100%;




}

.stacked-headers  h2 {

    color: #ff6a00;
    font-size: 3.6rem;
    padding-left: 1.4rem;
    margin-bottom: 4.8rem;
    font-weight: 700;
  }

.stacked-headers h1 {
  font-family: 'Exo 2', sans-serif;
  line-height: 1;
  font-size: 4.8rem;
  padding-left: 1.4rem;
  margin: 1.4rem 0;
  color: white;
  font-weight: bold;

}

.stacked-headers a {
  text-decoration: none;
  color: white;
}

.stacked-headers a:hover {
  color: #ff6a00;
}

.stacked-headers h1.stacked__name {
  font-weight: 100;
  font-size: 4.8rem;


}

/* // Responsive media: */
@media screen and (max-width: 1024px) {
  .stacked-headers {


  }

  .stacked-headers   h2 {
      font-size: 3.6rem;
    }

  .stacked-headers     h1 {
        font-size: 3.6rem;
      }
}


/******** tyler ***********/


.tyler-container {
  margin: 0;
  padding: 0 1.4rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.side-container__title {
  color: #ff6a00;
  line-height: .5;
  align-self: center;
  text-align: right;
  font-family: "Exo 2", sans-serif;
  font-size: 2.4rem;
}

.side-container__media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.pic-links {
  display: flex;
  flex-direction: row;


}

.pic-links  img {
    border: 3px solid white;
    border-radius: 50%;
  }

.side-container__icons {
  display: flex;
  flex-direction: column;

}

.side-container__icons a {
    height: 50px;
    padding-left: 1.6rem;
    color: white;
    transition: color .3s .1s linear, transform .3s .1s linear;

  }
  .side-container__icons a:hover {
      color: #ff6a00;
      transform: scale(1.1);
    }

.side-container__bio {
  display: flex;
  flex-direction: column;


}

.side-container__bio  p {
    padding: 3.2rem;
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 1.4rem;

  }

.jump-button {
  cursor: pointer;
  color: #ff6a00;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: row;
  font-family: "Exo 2", sans-serif;

}

.jump-button   i {
    paddINg: 20px 0 0 15px;
    animation: bandf 1s ease-in-out 1s infinite alternate;
  }

/* //responsive */

@media screen and (max-width: 1024px) {
  .side-container__media {
    flex-direction: column;
  }
}

/* scss stuff

color

$dark-grey: #333;
$google-blue: #4885ed;
$dark-blue: #0c1720;
$off-white: #f7f7f7;
$grey: #666;
$deep-red: #770000;
$hazy-black: #040404;
$ash-black: #1C2833;
$ocd-orange: #ff6a00;

//Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 480px;

//Font Sizes
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
$font-size-header: 3.6rem;
$font-size-header-xl: 4.8rem;

//Google fonts
$source-code: 'Source Code Pro', monospace;
$book: 'Goudy Bookletter 1911', serif;
$elec: 'Electrolize', sans-serif;
$exo: 'Exo 2', sans-serif;


  */
