.page-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: $dark-blue;
  border-left: 3px solid $ocd-orange;


}

.side-container {
 width: 50%;
 padding: $m-size;
}

.side-container__info {
  display: flex;
  flex-direction: column;

}

.side-container__media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: grey;
  padding: $m-size $s-size;
}
.side-container__title {
  font-family: $exo;
  color: $ocd-orange;
  margin-right: 10%;
  padding: $m-size;
  h1 {
    font-size: $font-size-header;
    line-height: 1;
  }

}

.pic-links {
  display: flex;
  flex-direction: row;
}

.button-title {
  display: flex;
  flex-direction: column;
}

.side-container__profilePic {
  border: 2px white solid;
  border-radius: 50%;
  padding: 2px;
  max-height: 100%;

}



.side-container__bio {
  color: $off-white;
  margin: $s-size;
  padding: $s-size;
  font-family: $exo;
  p {
    padding-bottom: $xl-size;
  }
}

.side-container__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px 0 10px 10px;
  width: 60px;
  height: 250px;
  a {
    color: white;
    transition: color .5s ease-out;
    &:hover {
      color: #ff6a00;
    }
    }

}

.side-container__picName {
  max-height: 100%;
  padding: 20px 15px;
  margin-top: $m-size;

  img {
    padding: auto auto;
  }
  h2 {
    text-align: center;
  }
}




.stacked-headers {
  height: 100%;
  color: white;
  margin-left: $s-size;
  font-family: $exo;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  h3 {

    color: $ocd-orange;
    font-size: $font-size-header-xl;
  }

  h2 {

    font-size: 4.8rem;
    font-weight: 900;
    line-height: 1;
    margin: 0;

  }
  .stacked__name {
    font-weight: 100;
  }
}




//creating translate

.jump-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  cursor: pointer;
  color: $ocd-orange;
  opacity: 0;
  animation: reveal 1s ease-in-out 2s 1 forwards;
  h3 {
    padding-right: $m-size;
    padding-bottom: $l-size;
    align-self: flex-start;
  }
  i {
    animation: bandf 1.5s ease-in-out 3s infinite alternate;
  }


}

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  cursor: pointer;
  color: $ocd-orange;
  opacity: 0;
  animation: reveal 1s ease-in-out 2s 1 forwards;
  h3 {
    padding-right: $m-size;
    padding-bottom: $l-size;
    align-self: flex-start;
  }
  i {
    animation: bandf 1.5s ease-in-out 3s infinite alternate;
  }


}


.card-container {
  background: $dark-blue;
  height: 100vh;
  margin-top: 0 $m-size;
  padding: 0;
  position: relative;
  overflow: hidden;
  transition: border .3s .8s ease-out;
}

.info {
  height: 100vh;

}

.info-back {
  background: $dark-blue;
  width: 100%;
  border-left: 3px solid $ocd-orange;

  height: 100%;



}

.info-front {
 background: $dark-blue;
 display: flex;
 flex-direction: column;
 justify-content:flex-start;
 align-items: center;
 border-left: 3px solid $ocd-orange;

}



//animations

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bandf {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes border {
  0% {
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
  }
  25% {
    border-top: 2px solid $ocd-orange;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
  }
  50% {
    border-top: 2px solid $ocd-orange;
    border-left: 2px solid $ocd-orange;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
  }
  75% {
    border-top: 2px solid $ocd-orange;
    border-left: 2px solid $ocd-orange;
    border-bottom: 2px solid $ocd-orange;
    border-right: none;
    border-radius: 5px;
  }
  100% {
    border-top: 2px solid $ocd-orange;
    border-left: 2px solid $ocd-orange;
    border-bottom: 2px solid $ocd-orange;
    border-right: 2px solid $ocd-orange;
    border-radius: 5px;
  }
}

//mobile considerations

@media (max-width: $desktop-breakpoint) {
  .page-container {
    flex-direction: column;
  }
  .section {
    max-height: 33%;
    margin: auto 0;
    padding: $l-size;
  }
  .button-title {
    flex-direction: row;
    flex-shrink: 1;

  }
  .side-container {
    width: 100%;
    height: 50%;
    margin: auto 0;

  }
  .info-back {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border: none;
  }
  .side-container__media {
    flex-direction: column;
    padding: $m-size;
    justify-content: space-between;
    flex-shrink: 2;


  }
  .side-container__bio {
    flex-shrink: 1;

  }

  .side-container__picName {
    display: flex;
    flex-direction: row;
  }
  .pic-links {
    padding: $l-size 0;
  }

}
