* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
    font-family: $exo;
    font-size: 1.6rem;
    background: white;
    color: white;
    line-height: 1.6;
    font-family: $elec;
    min-height: 100vh;



}

button {
    cursor: pointer;

}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
    color: red;
}
